# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pyc
*.db
*.sqlite3
*.pyo
*.pyd

# Env
.env
venv/
env/

# VS Code
.vscode/

# Migrations
**/migrations/*
!**/migrations/__init__.py

# Static files
/staticfiles/
/media/
